<base href="{{ url('home') }}">
<title>{{ site_name }}</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
<meta name="robots" content="noindex, nofollow">
</head>

<body itemscope itemtype="http://schema.org/WebPage">

