{% if key in form.children|keys %}

    {% set item = attribute(form.children, key) %}

    {{ form_errors(item) }}
    {% if item.vars.block_prefixes.1 not in ['checkbox', 'choice'] %}
        <span class="container-{{ type|lower }}">
            {{ form_label(item) }}
        </span>
    {% endif %}
    {{ form_widget(item) }}

    <div class="clearfix"></div>
{% endif %}
